body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.navbar {
	background-color: gray;
	width: 100%;
	height: 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.navbar a {
  	margin: 10px;
  	text-decoration: none;
}

.img-container {
	padding-bottom: 20px;
	border: 2px solid #e8ebef;
	display: inline-block;

}

img{
	display:flex;
    margin-left: auto;
    margin-right: auto;
}

.img-caption {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.img-header {
	padding: 20px;
	text-align: left;
}
